[submodule "operator"]
	path = operator
	url = https://github.com/trusted-execution-clusters/operator.git
	branch = main
[submodule "drift-detection"]
	path = drift-detection
	url = https://github.com/arewm/drift-detection
